.color-red{
    color: red;
    font-weight: bold;
    text-decoration:underline;
}

.color-blue{
    color: blue;
    font-weight: bold;
    text-decoration: double underline;
}

.color-green{
    color: green;
    font-weight: bold;
    text-decoration: underline;
}